# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# Jupyter
.ipynb_checkpoints/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.swp
*.swo

# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Mypy / type checkers
# =========================
.mypy_cache/
.pytype/
.pyre/


# =========================
# Other
# =========================
data/
outputs/